.navbar {
    border-bottom: white 1px solid;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav li {
    padding: 8px 10px;
    cursor: pointer;
}
.nav li:hover {
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    box-shadow: white 1px 1px 3px;
}
.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}